<div class="container">
  <h2 class="title">Наши преимущества</h2>
  <div class="carusel-wrp">
    <div class="slides row flex-nowrap">
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/delivery-free.png"
            alt="Бесплатная доставка по Украине"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">Бесплатная доставка по Украине</h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/professional-installation.png"
            alt="Профессиональный монтаж"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">Профессиональный монтаж</h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/service-garantie.png"
            alt="Гарантийное и постгарантийное обслуживание"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">
            Гарантийное и постгарантийное обслуживание
          </h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/dilers-work.png"
            alt="Работаем с дилерами"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">Работаем с дилерами</h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/complex-work.png"
            alt="Изготовление работ любой сложности"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">Изготовление работ любой сложности</h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/color-ral.png"
            alt="Изготовление ворот любой цветовой гаммы (покраска в любой цвет по RAL карте)"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">
            Изготовление ворот любой цветовой гаммы (покраска в любой цвет по
            RAL карте)
          </h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/minimum-time.png"
            alt="Минимальный срок изготовления, от 3-х дней"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">
            Минимальный срок изготовления, от 3-х дней
          </h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/find-cheaper.png"
            alt="Найдете дешевле, сделаем более выгодное предложение"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">
            Найдете дешевле, сделаем более выгодное предложение
          </h4>
        </div>
      </div>
      <div class="slide-item col-lg-4 col-md-6 col-12">
        <div class="slide-img-wrap">
          <img
            src="../../../assets/img/slider/free-measuring.png"
            alt="Бесплатный замер и просчет в течении суток"
            class="slide-img"
          />
        </div>
        <div class="slide-title-wrap">
          <h4 class="slide-title">
            Бесплатный замер и просчет в течении суток
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
