<div class="wrapper">
  <section class="heder__bg" [class.heder-bg-md]="headerBg" (window:resize)="onResize($event)">
    <header class="container header">
      <a href="#" routerLink="/home">
        <h1 class="header__logo">VorotaPROM</h1>
      </a>
      <span class="header__phone d-none d-sm-block"><i></i>098-17-175-28, 098-17-175-38</span>
      <nav class="d-lg-block d-none">
        <ul class="header__items">
          <li class="header__item">
            <a class="header__item-link" href="#" routerLink="/home" routerLinkActive="active">Главная</a>
          </li>
          <li class="header__item">
            <a class="header__item-link" href="#" routerLink="/catalog" routerLinkActive="active">Каталог</a>
          </li>
          <li class="header__item">
            <a class="header__item-link" href="#" routerLink="/gallery" routerLinkActive="active">Галерея</a>
          </li>
          <li class="header__item">
            <a class="header__item-link" href="#" routerLink="/contact" routerLinkActive="active">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="btn-drop-menu d-lg-none d-block" (click)="showMenu()">
        <span class="after-line" [class.after-line-show]="afterLine"></span>
        <span class="main-line" [class.main-line-show]="mainLine"></span>
        <span class="before-line" [class.before-line-show]="beforeLine"></span>
      </button>
    </header>
    <div class="container drop-menu" [class.drop-menu-show]="dropMenuShow">
      <nav>
        <ul>
          <li class="drop-menu__item">
            <a class="drop-menu__item-link" href="#" routerLink="/home" routerLinkActive="active" (click)="showMenu()">Главная</a>
          </li>
          <li class="drop-menu__item">
            <a class="drop-menu__item-link" href="#" routerLink="/catalog" routerLinkActive="active" (click)="showMenu()">Каталог</a>
          </li>
          <li class="drop-menu__item">
            <a class="drop-menu__item-link" href="#" routerLink="/gallery" routerLinkActive="active" (click)="showMenu()">Галерея</a>
          </li>
          <li class="drop-menu__item">
            <a class="drop-menu__item-link" href="#" routerLink="/contact" routerLinkActive="active" (click)="showMenu()">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="content" (click)="onClosedMenu()">
    <router-outlet></router-outlet>
  </section>
</div>
<div class="footer__bg">
  <footer class="container footer" (click)="onClosedMenu()">
    <p>VorotaPROM &copy; 2016-2018</p>
  </footer>
</div>
<!-- feadback start -->
<app-modal-fead-back></app-modal-fead-back>
<!-- feadback end -->
