<div class="container">
  <h2 class="title">Написать нам</h2>
  <form class="form" novalidate [formGroup]="feadBackForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4 control-wrap">
        <input type="text" formControlName="name" class="form-imput" required placeholder="ваше имя" [ngClass]="{
          'error': name.invalid && name.dirty,
          'success': name.valid && name.dirty
        }">
        <div class="error-title" *ngIf="name.invalid && name.dirty">
          Обязательное поле
        </div>
      </div>
      <div class="col-md-4 control-wrap">
        <input type="tel" formControlName="tel" class="form-imput" required placeholder="номер телефона" [ngClass]="{
          'error': tel.invalid && tel.dirty,
          'success': tel.valid && tel.dirty
        }">
        <div class="error-title" *ngIf="tel.errors && tel.dirty">
          <span *ngIf="!!tel.errors.required">Обязательное поле</span>
          <span *ngIf="!!tel.errors.pattern">Не верный формат телефона</span>
        </div>
      </div>
      <div class="col-md-4 control-wrap">
        <input type="email" formControlName="email" class="form-imput" required placeholder="ваш email" [ngClass]="{
          'error': email.invalid && email.dirty,
          'success': email.valid && email.dirty
        }">
        <div class="error-title" *ngIf="email.errors && email.dirty">
          <span *ngIf="!!email.errors.required">Обязательное поле</span>
          <span *ngIf="!!email.errors.pattern">Не верный формат email</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col control-wrap">
        <textarea formControlName="message" class="form-textarea" required placeholder="ваш сообщение" [ngClass]="{
          'error': message.invalid && message.dirty,
          'success': message.valid && message.dirty
        }"></textarea>
        <div class="error-title" *ngIf="message.errors && message.dirty">
          <span *ngIf="!!message.errors.required">Обязательное поле</span>
        </div>
      </div>
    </div>
    <button type="submit" class="form-btn" [disabled]="!feadBackForm.valid">отправить</button>
    <p class="send-success" *ngIf="infoSend">Форма успешно отправлена, спасибо за ваш интерес к нашей компанни.</p>
  </form>
</div>
