<div class="container">
  <h2 class="title">Оплата и Доставка</h2>
  <section class="row payment">
    <div class="col-lg-6">
      <h3 class="payment-title">Оплата товаров и услуг</h3>
      <p class="payment-description">Оплата наличными при получении.</p>
      <p class="payment-description">Перевод денег на карту Приватбанка.</p>
      <p class="payment-description">Безналичный расчет.</p>
      <p class="payment-description">Крупногабаритные товары мы отправляем только после предоплаты, на любое грузовое отделение в Вашем городе.</p>
      <p class="payment-description">Можно осуществить оплату товара по безналичному расчету. Перевод можно оформить через любой банк, учитывая его комиссию.
        После поступления денег товар отправляется Вам курьерской службой Деливери или САТ.</p>
    </div>
    <div class="col-lg-6">
      <h3 class="payment-title">Доставка товаров по Украине</h3>
      <p class="payment-description">Отправка крупногабаритных товаров по Украине осуществляется после 100% предоплаты.</p>
      <p class="payment-description">Крупногабаритные товары отправляются компаниями «Деливери», «САТ» за наш счет.</p>
      <p class="payment-description">Мелкогабаритные, компаниями «Новая почта», «Интайм», «Деливери», «САТ».</p>
      <p class="payment-description">Доставка производится на склад транспортной компании в Ваш город.</p>
    </div>
  </section>
</div>
